.Headermenu
  %ul.Headermenu__left
    %li.Headermenu__top
      = link_to '←旅ログ', '/messages'
  %ul.Headermenu__right
    %li.Headermenu__new
      新規登録
    %li.Headermenu__itembar
      |
    %li.Headermenu__login
      ログイン
    %li.Headermenu__itembar
      |
    %li.Headermenu__mypage
      マイページ