.Sidebar
  .Sidebarmain
    .Sidebarmain__areabox
      %h1 エリアから選ぶ
    .Sidebarmain__drop
      Dropdown
    .Sidebarmain__list
      大阪
      兵庫
      奈良

    .Sidebarmain__ldentify
      %h1 こだわりポイントで探す
      .Sidebarmain__ldentifylist
        = link_to '初心者にオススメ', 'post', action: 'index', check_1: '初心者にオススメ'

