.Posts {
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding: 2em;


  .Mainpost {
    display: flex;
    justify-content: center;


    &__box {
      background-color: white;
      width: 39em;
      height: 18em;
      padding: 1em;
      display: inline-block;
      border: solid 0.05em gray;
      display: flex;
      justify-content: space-between;

    }
    &__image {
      width: 15em;
      height: 15em;
    }
    &__right {

    }

    &__inputname {
      margin-top: 1.5em;
    }
    &__inputarea {
      margin-top: 1.5em;
    }
    &__inputcoment {
      margin-top: 1.5em;
    }
    &__inputspointe {
      margin-top: 1.5em;
    }
  }
  .Footer {
    display: flex;
    justify-content: flex-end;
    &__menu {
      margin-right: 3em;
      padding: 2em;
    }
     
  }
}