.Sidebar {
  background-color: #fffafa;
  width: 17em;
  height: 100vh;
  // overflow: scroll;
}
  .Sidebarmain {
    padding: 1em;
    line-height: 2em;
  
    // &__searchbox {
    //   background-color: white;
    //   width: 13em;
    //   height:2em;
    //   margin-top: 2em;
    //   padding: 0.2em;
    //   margin-bottom: 1em;
    //   border: solid 0.05em gray;

    // }

    &__areabox {
      // background-color: white;
      margin-top: 3.5em;
    }

    &__drop {
      // background-color: white;
      height: 2em;
      border: solid 0.05em gray;
  
    }

    &__list {
      border: solid 0.05em gray;
      // background-color: white;
      padding: 0.3em;
      width: 15em;
      height: ８em;
      margin-top: 1em;
      list-style: none;
      ul {
        display: flex;
        justify-content: flex-start;
      }
      li {
        padding: 0 1em 0 1em;
      }
    }

    &__ldentify {
      margin-top: 3em;
    }
    &__ldentifylist {
      border: solid 0.05em gray;
      background-color: white;
      width: 15em;
      height: 18em;
    }
  }