.Header {
  // background-color: red;

  // min-width: 70em;
  // max-width: 80em;
  // padding: 1em;
  width: 100vw;
  height: 20em;
  text-align: center;
  
  .Headermenu {
    background-color: black;
    height: 3em;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  
    &__left {
      list-style: none;
      line-height: 3em;
      padding-left: 1em;
      a {
        background-color: black;
      }
    }
    &__top {
      // padding: 0.1em;
    }

    &__right {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      line-height: 3em;
    }
    &__new {
      padding: 0 1em;
    }
    &__login {
      padding: 0 1em;
    }
    &__mypage {
      padding: 0 1em;
    }

  }


  .Headermain {
    background-image: image-url('topimage.jpg');
    background-size: cover;
    height: 14em;
    width: 100vw;
    // font-size: 1.5em;
    // line-height: 2em;
    padding: 0em 1em 0 1.5em;
    display: flex;
    justify-content: space-between;
    color: white;
    
    // &__images {
    //   display: flex;
    //   justify-content: space-between;
    
    &__pagename {

    }
    &__right {
      justify-content: flex-end;
    
    }
    &__righttext{
      white-space: nowrap;
      padding-right: 1em;
      font-size: 30px;
    
      span {
        font-size: 1.5em;
      }
    }
    &__rightimages {
      
      display: flex;
      justify-content: flex-end;
    }
    &__rightimage {
      padding-top: 0.3em;
    }

  }

  .Headerlist {
    background-color: #fffafa;
    width: 100vw;
    height: 3.1em;
    // font-size: 1em;
    line-height: 3em;
    
  
    
    &__group {
      padding: 0.3em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      
    }
    &__searchbox {
      background-color: #fffafa;
      display: flex;
      width: 15em;
      margin-left: 18em;
    }
    &__text {

    }
    &__search {
      color: black;
     
      width: 15em;
      height: 3em;
      
      // border: solid 0.05em gray;
     

    }

    &__right {
      padding: 0 1em;
     
    }
    &__post {
      margin-right: 0.5em;
  
    }
    .Button {

      height: 3em;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #668ad8;
      color: #fff;
      border-bottom: solid 4px #627295;
      border-radius: 3px;
      line-height: 3em;
    }
    .Button:active {
      /*ボタンを押したとき*/
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
    }
  }



}