.Posts
  .Mainpost
    .Mainpost__box
      .Mainpost__image
        = image_tag '/assets/test2.jpg', height: '240em', width: '240em', class: 'hoge'
      .Mainpost__right
        .Mainpost__inputname
          名前を入力
        .Mainpost__inputarea
          場所を入力
        .Mainpost__inputcoment
          コメントを入力
        .Mainpost__inputspoint
          ポイントを選択
