.Contents
  .Success
    投稿が完了しました。
    .Successgroup
      .Successgroup__top
      = link_to "トップページに戻る", messages_path, class: 'Button'
      .Successgroup__post
      = link_to "投稿画面に戻る", posts_path, class: 'Button'